<div class="page-header">
  <h1>Nuevo coeficiente</h1><!-- <button class="btn btn-primary btn-row-coefficient">Agregar fila</button> -->
</div>
<%= render :partial => 'form' %>
<script>
    $(document).ready(function() {
        var spinner = new Spinner(opts);
        
        $('#new_coefficient').on('submit', function(e) {
            e.preventDefault(); // stops default behavior
            data = {};
            // $(this).serializeArray().map(function(x){
            //     data[x.name] = x.value;
            // }); 
            $.ajax({
                url: $(this).attr('action'),
                data: $.param($('#new_coefficient').serializeArray()),  
                type: "POST",
                beforeSend: function(){
                    spinner.spin(document.getElementById('modal-spin'));
                },
                success: function(result){
                    $('#myModal').modal('hide');                
                    $('#coefficients_table tbody').append(result);
                },
                error: function(xhr,status,error){
                    errors = "";
                    $.each($.parseJSON(xhr.responseText).errors, function(key, value){
                      errors = errors + value[0];
                    });
                    $("#errors p").html(errors);
                    $("#errors").addClass("alert alert-danger");
                },
                complete: function(){
                    spinner.stop(document.getElementById('modal-spin'));
                }
            });
        });

    });
</script>