<%- model_class = Bank -%>
<div class="page-header">
  <h1>Banco</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</strong></dt>
  <dd><%= @bank.name %></dd>
</dl>

<%= link_to "Volver",
              banks_path, :class => 'btn btn-default'  %>
<%= link_to "Editar",
              edit_bank_path(@bank), :class => 'btn btn-default' %>
<%= link_to "Eliminar",
              bank_path(@bank),
              :method => 'delete',
              :data => { :confirm => "Esta seguro de eliminar este banco?"},
              :class => 'btn btn-danger' %>
